        /* ROOT - variables */

:root {
    --main-dark: #3D0C11;
    --main-red: #D80032;
    --main-pink: #F78CA2;
    --main-light: #F9DEC9;
    --main-logo: #FF4E00;
    font-family: Arial, Helvetica, sans-serif;
}


        /* ELEMENTS */

body {
    color: var(--main-dark);
    background-color: var(--main-light);
    margin: 0;
}

header {
    background-color: var(--main-pink);
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-dark);
    color: var(--main-light);
    width: 100%;
    padding: 0 5% 0 5%;
    margin: 0;
}

hr {
    color: var(--main-red);
    width: 10vw;
    border-style: dotted none none none;
    border-width: 1rem;
}


        /* CLASSES - COMMON*/

.top-bar {
    color: var(--main-light);
    font-family: economica;
    background-color: var(--main-dark);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 5rem;
    border-color: var(--main-pink);
    display: flex;
    align-items: center;
}
.menu-items{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    display: flex;
}
.menu-items li{
    padding: 2rem 2rem 2rem 2rem;
    list-style-type: none;
}
.menu-items li a{
    text-decoration: none;
    color: var(--main-light);
}
.menu-items li:hover{
    background-color: var(--main-red);
}
.title{
    text-align: center;
}
.ingress{
    font-weight: bold;
}
.articleimg{
    size: cover;
    max-width: 70vw;
}
.author{
    font-size: small;
    color: var(--main-pink);
}
.imgtext{
    font-size: smaller;
    font-style: italic;
    color: var(--main-dark);
}
.learning-outcomes > li{
    list-style-type: none;
    font-weight: bold;
}



.logo-container {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background-color: var(--main-red);
    padding: 10px;
    overflow: visible;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--main-red);
}

.ez-logo {
    position: relative;
    bottom: 5px;
    width: 50px;
    height: 50px;
}
.logo-text
{
    position: relative;
    bottom: 15px;
    font-weight: bold;   
    margin: 0;
}

.footer-logo {
    width: 55px;
    height: 55px;
}

.collaborators {
    list-style: none;
    font-style: italic;
}


.big-heading {
    font-size: 2.5rem;
}

.small-heading {
    font-size: 1.5rem;
}


/* CLASSES - SECONDARY PAGE */
.learning-outcomes-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
}

.accessibility-test-wrapper {
    margin-top: 50px;
}